@import "./../../pages/Variables.scss";

.navbarContainer {
  height: 100vh;
  width: 13vw;
  background-color: none;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.blocNavbar {
  background-color: $color-gray-30;
  border-radius: 15px;
  margin-block: 0.3em;
  display: flex;
}

.profil, .deconnexion {
  height: 7vh;
  padding: 1em;
}

.menu, .deconnexion {
  flex-direction: column;
}

.profil {
  display: flex;
  align-items: center;
}

.deconnexion {
  
}

.menu {
  flex: 1;
  padding-block: 2em;
}

.img-profil-navbar {
  height: 3em;
  width: 3em;
  margin-inline: 1em;
  border-radius: 10px;
}

.img-profil-navbar:hover {
  cursor: pointer;
}

.pseudoLabelNavbar {
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pseudoLabelNavbar:hover {
  cursor: pointer;
}

.navbarLink {
  position: relative;
  height: 3em;
  display: inline-flex;
  align-items: center;
  margin-inline: 3em;
  margin-block: 1.1em;
}

.navbarLinkLabel {
  position: relative;
  height: 3em;
  display: flex;
  align-items: center;
  // POLICE
  font-size: 1.3em;
  color: $color-red;
  // LIEN
  text-decoration: none;
  
}
.active{
  color: $color-green;
}
.navbarLinkLabel:visited {
  
}

.navbarLinkLabel:hover {
  color: $color-dark-red;
}
